* {
    font-family: Georgia, Times, serif;
}

body {
    text-align: center;
}

h1 {
    text-align: center;
    background-color: #52b69a;
}

table, td {
    margin: auto;
    border: 1px solid black;
}

.baixo {
    background-color: #73bbf3;
}

input.checks {
    width: 23px;
    height: 23px;
}